body {
    margin:0px;
}

.header1 {
    background-color: beige;
    width:auto;
    height: 30px;
    border: 1px solid brown;
    padding: 10px;
    position:sticky;
    top: 0px;
    left: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo1 {
    background-color: yellow;
    border: 1px solid black;
    color: black;
    padding: 10px 10px;
}
.header1-2 {
    display:flex;
    flex-direction: row;
    align-items: center;
}
.menu1 {
    background-color: pink;
    border: 1px solid black;
    color: black;
    padding: 10px 10px;  
}

.header2 {
    background-color: beige;
    width:auto;
    height: 30px;
    border: 1px solid brown;
    padding: 10px;
    position:sticky;
    top: 0px;
    left: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logooo {
    background-color: greenyellow;
    border: 1px solid black;
    color: black;
    padding: 10px 10px;
    margin: 0 10px;
}
.header2 {
    display:flex;
    flex-direction: row;
    align-items: center;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu2 {
    display: flex;
    flex-direction: row;
    background-color: none;
    border: none;
    color: black;
    padding: 10px 10px;  

}
.login2 {
    padding:10px 10px;
    border: 1px solid green;
    background-color: none;

}

.menu3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.circle {
    background-color:darkseagreen;
    border:1px solid green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.yourname {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
.icons {
    display: flex;
    flex-direction: row;
    background-color: none;
    border: none;
    padding: 10px 10px;
    justify-content: space-between;
}
.icon1 {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.icons {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    align-items: center;
}
.bell {
    padding:10px 10px;
}
